Exercise 2: Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem</h1>

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

Objectives:
* list data science languages
* list data science libraries
* table of Data Science tools
* introducing arithmetic expression examples
* multiply and add numbers

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
----------------------
| Jupyter Notebook |
| RStudio |
| VS Code |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [2]:
mins = 200
hours = mins / 60
print(hours)

3.3333333333333335

<h2>Author</h2>
--------------------------------------

Mainak Chakraborty